html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table thead {
  color: blue;
  background-color: chocolate;
  border-radius: 0px;
  border:1px solid black;
}

